body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  margin: 0;
  padding: 0;
  background: url("./assets/greenfields.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.week-block {
  margin-top: 10vh;
  width: 900px;
  opacity: 0.88;
  height: 80vh;
  background-color: lightblue;
  margin-left: 1%;
  margin-right: 1%;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.Clear {
  background: url("./assets/sun.png") no-repeat center/cover;
}

.Rain,
.Drizzle {
  background: url("./assets/rain.png") no-repeat center/cover;
}
.Thunderstorm {
  background: url("./assets/rain.png") no-repeat center/cover;
}
.Clouds {
  background: url("./assets/clouds.png") no-repeat center/cover;
}

.Mist,
.Smoke,
.Haze,
.Dust,
.Fog,
.Sand,
.Dust {
  background: url("./assets/clouds.png") no-repeat center/cover;
}

Snow {
  background: url("./assets/snow.png") no-repeat center/cover;
}
